@import "styles/variables";
@import "styles/breakpoints";

// Hero Section

div.heroCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 2rem;
  @include mediumScreens {
    gap: 4rem;
    flex-direction: row;
  }
  div.leftCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mediumScreens {
      width: 50%;
    }
    a.heroButton {
      display: inline-block;
      margin-top: 1.5rem;
      @include smallScreens {
        max-width: 200px;
      }
      @include mediumScreens {
        width: 200px;
      }
    }
  }
  div.rightCont {
    img {
      margin: 0 auto;
      @include smallScreens {
        max-width: 400px;
      }
      @include mediumScreens {
        max-width: 450px;
      }
      @include largeScreens {
        max-width: 500px;
      }
    }
  }
}

// Hero Section Ends

// Skills Section

div.skillContFluid {
  background: #f7f7f7;
  padding: 2rem 0;
  width: 100%;
  @include mediumScreens {
    padding: 5rem 0;
  }
  div.skillCont {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 2rem;
    @include mediumScreens {
      flex-direction: row;
      gap: 4rem;
    }
    div.leftCont {
      width: 100%;
      @include mediumScreens {
        width: 50%;
      }
      div.skillSliders {
        display: grid;
        gap: 1rem;
        width: 100%;
        div.slider {
          width: 100%;
          p {
            color: #333;
            font-size: 1rem;
            font-weight: 700;
            @include mediumScreens {
              font-size: 1.1rem;
            }
          }
          div.logoBar {
            margin-top: 0.5rem;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            img {
              height: 25px;
              width: auto;
            }
          }
        }
      }
      div.jobExp {
        margin-top: 2rem;
        div.jobCard {
          border-radius: 10px;
          background: #333;
          padding: 2rem 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include smallScreens {
            max-width: 300px;
          }
          h3 {
            color: #ffffff;
            font-size: 0.9rem;
            font-weight: 500;
            @include mediumScreens {
              font-size: 1rem;
            }
          }
          p.company {
            color: #bcbfc2;
            font-size: 0.85rem;
            @include mediumScreens {
              font-size: 0.9rem;
            }
          }
          p.timeSpan {
            color: #bcbfc2;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 500;
            letter-spacing: 0.02rem;
          }
        }
      }
    }
    div.rightCont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      @include mediumScreens {
        width: 50%;
      }
    }
  }
}

div.projectsContFluid {
  padding: 2rem 0;
  @include mediumScreens {
    padding: 5rem 0;
  }
  div.projectsCont {
    div.projectList {
      margin-top: 2rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(1, 1fr);
      @include mediumScreens {
        margin-top: 3rem;
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
      }
      @include largeScreens {
        grid-template-columns: repeat(4, 1fr);
      }
      div.projectCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        background-color: #f7f7f7;
        padding: 1rem;
        border-radius: 10px;
        transition: all 150ms ease-in;
        img {
          border-radius: 10px;
          max-height: 300px;
          width: auto;
        }
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
